.barra {
    width: 100%;
    height: 100px;
    background-color: rgb(121, 185, 140);
    text-align: center;
}

.mobile{
    font-size: 60px;
    color: rgb(7, 56, 3);
    text-align: center;
}
.tablet{
    display: none;
}
.desktop{
    display: none;
}
.conteudo{
    width: 100%;
    background-color: rgb(196, 255, 230);
}
.botoes{
    width: 100%;
    height: 30px;
    background-color: rgb(0, 184, 184);
    font-size: 28px;
    padding-top: 2px;
    padding-bottom: 4px;
}
.abageral{
    width: 100%;
    height: 400px;
}
.aba1 {
    background-color: rgb(255, 175, 175);
}
.aba2 {
    background-color: rgb(250, 212, 162);
}
.aba3 {
    background-color: rgb(255, 250, 185);
}
.aba4 {
    background-color: rgb(165, 255, 162);
}
@media (min-width: 800px) {
    .barra{
        height: 150px;
        background-color: rgb(161, 216, 253);
    }
    .mobile {
        display: none;
    }
    .tablet {
        display: inline;
        font-size: 30px;
        color: rgb(5, 0, 80);
    }
    
}

@media (min-width: 1228px){
    .barra {
        height: 200px;
        background-color: cadetblue;
    }
    #tablet {
        display: none;
    }
    #desktop {
        display: inline;
        font-size: 70px;
        color: rgb(155, 221, 229);
        text-align: center; 
    }
}